.bg{
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 1000px;
    opacity: var(--pah);
    background-image: url(https://i.pinimg.com/originals/2c/bb/a7/2cbba736bdf07130106a7a916fe68b8b.gif);
}
.header {
  background: var(--bg);
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  justify-content: space-around;
  gap: 00px;
  align-items: center;
  transition: 0.6s;
  h1{
    color: var(--col);
  }
  a{
    text-decoration: none;
    border: 5px solid red;
    border-radius: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--bg);
    color: red;
    opacity: 0.5;
    transition: 0.3s;
  }
}
.header a:hover{
    transition: 0.3s;
        opacity: 1;
}
.vh {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.them {
  display: flex;
  gap: 10px;
  margin-right: 40px;
  z-index: 999;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  transition: 0.6s;
}
body{
    height: 200vh;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

.btn.light {
  background-image: url("https://cdn1.iconfinder.com/data/icons/simple-glyph-vol2/100/.svg-17-512.png");
}
.btn.night {
  background-image: url("https://cdn2.iconfinder.com/data/icons/funtime-solid-environment/60/002_014_moon_crescent_sleep_night_weather_nature-1024.png");
}

html:has(#light:checked) .btn.light {
  border-color: rgb(0, 0, 0);
}
html:has(#night:checked) .btn.night {
  border-color: rgb(255, 255, 255);
}

:root {
  --bg: azure;
  --gradirnt: 1;
  --col: blue;
  --eco:100%;
  --pah: 0.3;
  --inve:0.1;
}

html:has(#light:checked) {
  --bg: azure;
  --gradirnt: 2;
  --col: blue;
  --eco:100%;
  --pah: 0.3;
  --inve:0.1;
}

html:has(#night:checked) {
  --bg: rgb(30, 30, 55);
  --gradirnt: 0.1;
  --col: white;
  --eco:30%;
  --pah: 0.6;
  --inve:0.85;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}
.block{
    width: 250px;
    height: 500px;
    border: 5px solid blue;
    outline: 5px solid aqua;
    outline-offset: 5px;
    border-radius: 15px;
    animation: fly 1s linear both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: aqua;
    padding: 20px;
    text-align: center;
}
.block img{
  width: 200px;
  height: 200px;
}
.more_info{
  border-radius: 15px;
  line-height: 15px;
  text-align: center;
      border: 5px solid blue;
    outline: 5px solid aqua;
    outline-offset: 5px;
  position: relative;
  top:0;
  width: 200px;
  height: auto;
  padding: 10px;
  color: aqua;
  opacity: 0;
  pointer-events: none;
  transform: translateX(10px);
  transition: 
  opacity 0.2s ease,
  transform 0.2s ease;
  left: 0px;
}

.block:hover .more_info{
  opacity: 1;
  transform: translateX(0);
}
.Pac-man{
  width: 100%;
  height: 90vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.PM{
  color:white;
  font-size: 40px;
  transition: 1s;
}
.PM:hover{
  transition: 1s;
  font-size: 70px;
}

.blocks{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 250px;
}