.bg{
    
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 1000px;
    opacity: var(--pah);
    background-image: url(https://i.pinimg.com/originals/2c/bb/a7/2cbba736bdf07130106a7a916fe68b8b.gif);
}
.header {
  background: var(--bg);
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  justify-content: space-around;
  gap: 00px;
  align-items: center;
  transition: 0.6s;
  h1{
    color: var(--col);
  }
  a{
    text-decoration: none;
    border: 5px solid red;
    border-radius: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--bg);
    color: red  ;
    opacity: 0.5;
    transition: 0.3s;
  }
}
.header a:hover{
    transition: 0.3s;
        opacity: 1;
}
body{
    margin: 0px;
    background-color: darkblue;
}

.vh {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.them {
  display: flex;
  gap: 10px;
  margin-right: 40px;
  z-index: 999;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  transition: 0.6s;
}

.btn.light {
  background-image: url("https://cdn1.iconfinder.com/data/icons/simple-glyph-vol2/100/.svg-17-512.png");
}
.btn.night {
  background-image: url("https://cdn2.iconfinder.com/data/icons/funtime-solid-environment/60/002_014_moon_crescent_sleep_night_weather_nature-1024.png");
}

html:has(#light:checked) .btn.light {
  border-color: rgb(0, 0, 0);
}
html:has(#night:checked) .btn.night {
  border-color: rgb(255, 255, 255);
}

:root {
  --bg: azure;
  --gradirnt: 1;
  --col: blue;
  --eco:100%;
  --pah: 0.3;
  --inve:0.1;
}

html:has(#light:checked) {
  --bg: azure;
  --gradirnt: 2;
  --col: blue;
  --eco:100%;
  --pah: 0.3;
  --inve:0.1;
}

html:has(#night:checked) {
  --bg: rgb(30, 30, 55);
  --gradirnt: 0.1;
  --col: white;
  --eco:30%;
  --pah: 0.6;
  --inve:0.85;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.Tetris{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
}
.Tetris h1{
    transition: 1s;
}
.Tetris h1:hover{
    transition: 1s;
    font-size: 200px;
}

.main{
    width: 100%;
    height: 2850px;
}

.info{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 189.6px    );
    grid-template-rows: repeat(auto-fill, 189.6px);
    
}

.block{
  width: 90%;
  height: 90%;
  background-color: yellow;
  border: 10px solid black;
  transition: 1s ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-align: center;
  filter: invert(var(--inve));
  color: black !important;
}
.block:hover{
  transition: 1s;
  font-size: 37px;
}

.p1{
    background-color: yellow!important;
    grid-area: 1/2/2/3;
    border-right: none;
    width: 95%;
}
.p2{
    background-color: yellow !important;
    grid-area: 2/3/1/3;
    border-right: none;
    border-left: none;
    width: 100%;
}

.p3{
    background-color: yellow !important;
    grid-area: 2/4/1/4;
    border-bottom: none;
    border-left: none;
    width: 95%;
    height: 95%;
}

.p4{
    background-color: yellow !important;
    grid-area: 2/4/2/4;
    height: 95%;
    border-top: none;
}

.p5{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 3/7/5/9;
    width: 95%;
  height: 95%;
}

.p6{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 6/3/6/3;
    border-bottom: none;
    height: 95%;
}

.p7{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 7/3/7/3;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    height: 95%;
}
.p8{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 7/2/7/2;
    border-right: none;
    width: 95%;
}
.p9{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 7/4/7/4;
    border-left: none;
    width: 95%;
}

.p10{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 9/8/9/8;
    border-right: none;
    width: 95%;
}

.p11{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 9/9/9/9;
    border-top: none;
    border-left: none;
    width: 95%;
    height: 95%;
}
.p12{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 8/9/8/9;
    border-top: none;
    border-bottom: none;
    height: 100%;

}.p13{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 7/9/7/9;
    border-bottom: none;
    height: 95%;
}
.p14{
    background-color: blue !important;
    grid-area: 11/5/11/5; 
    border-bottom: none;
    height: 95%;
}
.p15{
    background-color: blue !important;
    grid-area: 12/5/12/5; 
        border-top: none;
    border-bottom: none;
    height: 100%;
}
.p16{
    background-color: blue !important;
    grid-area: 13/5/13/5; 
        border-top: none;
    border-bottom: none;
    height: 100%;
}

.p17{
    background-color: blue !important;
    grid-area: 14/5/14/5; 
    border-top: none;
    height: 95%;
}

.p18{
    background-color: yellow !important;
    grid-area: 15/1/15/1; 
    border-right: none;
    width: 95%;
}
.p19{
    background-color: yellow !important;
    grid-area: 15/2/15/2; 
    border-right: none;
    border-left: none;
    width: 100%;
}
.p20{
    background-color: yellow !important;
    grid-area: 15/3/15/3; 
    border-left: none;
    width: 95%;
}

.p21{
    background-color: rgb(0, 255, 255) !important;
    grid-area: 15/4/15/4; 
}
.p22{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 15/6/15/6; 
    border-top: none;
    border-right: none;
    width: 95%;
    height: 95%;
}
.p23{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 15/7/15/7; 
    border-right: none;
    border-left: none;
    width: 100%;
}
.p24{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 15/8/15/8; 
    border-left: none;
    width: 95%;
}
.p25{
    background-color: rgb(255, 94, 0) !important;
    grid-area: 15/9/15/9; 
    border-top: none;
    height: 95%;
}
.p26{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 15/10/15/10; 
    border-top: none;
    height: 95%;
}
.p27{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 14/1/14/1; 
    border-right: none;
    width: 95%;
}
.p28{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 14/2/14/2; 
    border-right: none;
    border-left: none;
    width: 100%;
}
.p29{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 14/3/14/3; 
    border-right: none;
    border-left: none;
    width: 100%;
}
.p30{
    background-color: rgb(255, 0, 0) !important;
    grid-area: 14/4/14/4; 
    border-left: none;
    width: 95%;
}
.p31{
    background-color: rgb(255, 0, 242) !important;
    grid-area: 14/6/14/6; 
    border-bottom: none;
    height: 95%;
}
.p32{
    background-color: rgb(255, 94, 0) !important;
    grid-area: 14/7/14/7; 
    border-right: none;
    width: 95%;
}
.p33{
    background-color: rgb(255, 94, 0) !important;
    grid-area: 14/8/14/8; 
    border-right: none;
    border-left: none;
    width: 100%;
}
.p34{
    background-color: rgb(255, 94, 0) !important;
    grid-area: 14/9/14/9; 
    border-left: none;
    border-bottom: none;
    width: 95%;
    height: 95%;
}
.p35{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 14/10/14/10; 
    border-top: none;
    border-bottom: none;
    height: 100%;
}
.p36{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 13/1/13/1; 
    border-right: none;
    width: 95%;
}
.p37{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 13/2/13/2; 
    border-top: none;
    border-left: none;
    border-right: none;
    height: 95%;
    width: 100%;
}
.p38{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 13/3/13/3; 
    border-left: none;
    width: 95%;
}
.p39{
    background-color: rgb(0, 255, 221) !important;
    grid-area: 13/7/13/7; 
    border-right: none;
    width: 95%;
}
.p40{
    background-color: rgb(0, 255, 221) !important;
    grid-area: 13/8/13/8; 
    border-left: none;
    border-top: none;
    height: 95%;
    width: 95%;
}
.p41{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 13/9/13/9; 
    border-right: none;
    width: 95%;
}
.p42{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 13/10/13/10; 
    border-left: none;
    border-bottom: none;
    height: 95%;
    width: 95%;
}
.p43{
    background-color: rgb(0, 255, 21) !important;
    grid-area: 12/2/12/2; 
    border-bottom: none;
    height: 95%;
}
.p44{
    background-color: rgb(0, 255, 221) !important;
    grid-area: 12/8/12/8; 
    border-right: none;
    border-bottom: none;
    height: 95%;
    width: 95%;
}
.p45{
    background-color: rgb(0, 255, 221) !important;
    grid-area: 12/9/12/9; 
    border-left: none;
    width: 95%;
}